.list{
  display: flex;
  flex-direction: column;
  gap: 1vw;
  background-color: white;
  border-radius: 0.5vw;
  width: 100%;
  height: 90vh;
  padding: 1vw;
  overflow-scrolling: auto;

  & > .title{
    text-align: center;
    font-size: 1.15vw;
    font-weight: 500;
  }
}